## Windows image file caches
Thumbs.db

## OSX
.DS_Store

# Thumbnails
._*

##Node.js
# Logs
logs
*.log

# Dependency directory
node_modules

#gulp-sftp id,PW
ftp.js

##SASS
#sass-cache
.sass-cache


## Dreamweaver
_notes
dwsync.xml
**/*.mno


##sublimetext
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

#sftp configuration file
sftp-config.json

# workspace files are user-specific
**/*.map

.idea/
